@use "../../../assets/scss/base/variables";

.box-center {
    display: flex;
    justify-content: center;
}

.cart-layout {
    max-width: variables.$container-width;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;

    .space {
        display: none;
    }
}

.empty-page {
    height: 100vh;
}

.emptyCart {
    height: 60vh;
    display: flex;
    flex-direction: column;
    margin-left: .5rem;
    text-align: center;
    word-wrap: break-word;
    justify-content: center;
    align-items: center;
    font-size: variables.$font-size-3xl ;
}

@media only screen and (min-width: 1024px) {
    .cart-layout {
        display: grid;
        grid-template-columns: 1fr 6fr 1fr 4fr;

        .space {
            display: block;
        }
    }

    .emptyCart {
        flex-direction: row;
        margin: 5rem 0 0 20rem;

    }

}