@use "../../../assets/scss/base/variables";

.default_label {
  font-size: 1.5rem;
  line-height: 2rem;
  color: variables.$color-grey-dark;
}
.label_white {
  color: variables.$color-secondary;
}
.label_black {
  color: variables.$color-primary;
  font-size: 1.2rem;
}
